@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  cursor: default;
}

body {
  margin: 48px 0 0 0;
  overflow-x: hidden;
  background: #ffffff;
  color: #0a0505;
  font-size: 16px;
  scroll-behavior: smooth;
  transition: all 0.8s ease-in-out;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #0a0505;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.8s ease-in-out;
  background: #ffffff;
}

main {
  overflow-x: hidden;
}

i {
  color: #0a0505;
  cursor: pointer;
}
i:hover {
  transform: scale(1.1);
}

.container {
  max-width: 988px;
  margin: 16px 16px 0 16px;
}

/* <!--==================== NAV ====================--> */
.nav {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  position: relative;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: #fff;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    box-shadow: -1px 0 4px rgba(136, 136, 136, 0.15);
    padding: 48px;
    transition: all 0.5s ease-in-out;
    transform: translate(100%);
  }
}
@media screen and (max-width: 567px) {
  .nav__menu {
    width: 40%;
  }
}
@media screen and (max-width: 400px) {
  .nav__menu {
    width: 50%;
  }
}
.nav__menu__list {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
@media screen and (max-width: 767px) {
  .nav__menu.toggle {
    transform: translate(0);
  }
}
.nav__theme {
  font-size: 32px;
}
@media screen and (max-width: 767px) {
  .nav__theme {
    width: 100%;
    margin-right: 10px;
    text-align: end;
  }
}
.nav__toggle {
  z-index: 2;
  font-size: 40px;
}
.nav-active {
  position: relative;
  color: #f3a683;
}
.nav-active::before {
  content: "";
  position: absolute;
  background-color: #a8522c;
  width: 100%;
  height: 2px;
  bottom: -12px;
  left: 0;
}

/* <!--==================== HOME ====================--> */
.home {
  color: #0a0505;
}
.home--image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-clip-path: polygon(100% 17%, 100% 60%, 29% 100%, 0 100%, 0 70%);
          clip-path: polygon(100% 17%, 100% 60%, 29% 100%, 0 100%, 0 70%);
}
.home--container {
  position: relative;
  height: calc(100vh - 48px);
  align-content: center;
  display: grid;
  gap: 24px;
  row-gap: 48px;
}
.home__data__subtitle {
  margin-bottom: 12px;
}
.home__data__title {
  font-size: 48px;
  margin-bottom: 40px;
  font-weight: bolder;
}
.home__social {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.home__social__link {
  font-size: 32px;
  margin-right: 24px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.home__social__link i {
  color: #fff;
}
.home__info {
  background-color: #ffffff;
  box-shadow: 8px 8px 8px #888888;
  display: flex;
  padding: 24px 16px;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  transition: all 0.8s ease-in-out;
  position: absolute;
  right: 0;
  bottom: 48px;
  width: 234px;
  height: 123px;
}
.home__info__title {
  font-size: 12px;
  font-weight: lighter;
  margin-bottom: 12px;
}
.home__info__icon {
  font-size: 16px;
}
.home__info__icon i {
  cursor: inherit;
  transform: none;
}
.home__info--image {
  overflow: hidden;
}
.home__info__image {
  width: 122px;
  cursor: pointer;
}
.home__info__image:hover {
  transform: scale(1.7);
  transition: all 0.3s ease-in-out;
}

/* <!--==================== ABOUT ====================--> */
.about {
  padding: 72px 0 0px;
}
.about--container {
  display: grid;
  grid-template-areas: "data" "image";
  gap: 64px;
}
.about__data {
  grid-area: data;
  text-align: center;
}
.about__title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 16px;
}
.about__subtitle {
  margin-bottom: 36px;
  text-align: justify;
  line-height: 24px;
}
.about--img {
  grid-area: image;
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
  justify-content: center;
}
.about__img--one {
  width: 250px;
}

.about__button {
  display: inline-block;
  background: #e6e6e6;
  padding: 16px 32px;
  font-weight: bold;
  border-radius: 10px;
}
.about__button:hover {
  background: transparent;
  transition: all 0.5s ease-in-out;
}


/* <!--==================== SKILLS ====================--> */
.skill {
  padding: 72px 0 0px;
}
.skill > h2, .skill > p {
  text-align: center;
}
.skill > h2 {
  font-size: 32px;
  margin-bottom: 8px;
}
.skill--container {
  display: grid;
  gap: 24px;
  row-gap: 0;
  margin-top: 32px;
}
.skill__header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.skill__header__icon, .skill__header__chevron {
  font-size: 36px;
}
.skill__header__icon {
  margin-right: 12px;
}
.skill__header__chevron {
  margin-left: auto;
  transition: all 0.3s ease-in-out;
  color: #f3a683;
}
.skill__list {
  display: grid;
  gap: 24px;
}
.skill__title {
  display: flex;
  justify-content: space-between;
}
.skill__name {
  font-size: 20px;
  margin-bottom: 8px;
}
.skill__bar, .skill__percentage {
  height: 5px;
  border-radius: 4px;
}
.skill__bar {
  background: #888888;
}
.skill__percentage {
  display: block;
  background: #f3a683;
}
.skill__percentage--basic {
  width: 90%;
}
.skill__percentage--frontend {
  width: 90%;
}
.skill__percentage--backend {
  width: 80%;
}
.skill__percentage--database {
  width: 80%;
}
.skill__percentage--value {
  width: 70%;
}
.skill__percentage--technical {
  width: 90%;
}
.skill__close .skill__list {
  height: 0;
  overflow: hidden;
}
.skill__open .skill__list {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 40px;
}
.skill__open .skill__header__chevron {
  transform: rotate(-180deg);
}
.skill__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.skill__card--a, .skill__card--b {
  cursor: pointer;
}
.skill__card--a:hover, .skill__card--b:hover {
  transform: scale(0.98);
  transition: all 0.3s ease-in-out;
}
.skill__card--a {
  width: 250px;
  height: 250px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.skill__card--b {
  width: 300px;
  height: 300px;
}
.skill__card span {
  margin-bottom: 36px;
}
.skill__model {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}
.skill__model--content {
  position: relative;
  background: #3f3d56;
  box-shadow: inset 8px 8px 8px #26253e, inset -8px -8px 8px #1a1736;
  color: #888888;
  padding: 32px;
  border-radius: 8px;
  width: 500px;
}
.skill__model__title {
  margin-bottom: 16px;
  font-size: 24px;
}
.skill__model__close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
  color: #888888;
}
.skill__model__data {
  display: grid;
  gap: 24px;
  row-gap: 8px;
}
.skill__model__description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.skill__model__description i {
  color: #888888;
  cursor: default;
  transform: none;
}
.skill__model__description > p:first-child {
  font-size: 20px;
  margin-top: 8px;
}
.skill__active-model {
  opacity: 1;
  visibility: visible;
}


/* <!--==================== FOOTER ====================--> */
.footer {
  background: #3f3d56;
  color: #fff;
  padding: 16px;
}
@media screen and (max-width: 568px) {
  .footer {
    padding: 36px 0 40px;
  }
}
.footer__container {
  display: grid;
  row-gap: 80px;
}
.footer__data {
  text-align: center;
}
.footer__data__subtitle {
  padding: 32px;
  line-height: 24px;
}
.footer__social {
  font-size: 32px;
  padding-right: 8px;
}
.footer__social i {
  color: #fff;
}
.footer__copy {
  text-align: center;
  line-height: 24px;
}


/* <!--==================== MEDIA QUERIES ====================--> */

@media screen and (min-width: 768px) {
  .nav__logo {
    transform: translateY(-3px);
  }
  .nav__menu {
    width: 100%;
  }
  .nav__menu__list {
    flex-direction: row;
    justify-content: space-around;
  }
  .nav__toggle {
    display: none;
  }
  .home__data__title {
    line-height: 80px;
  }
  .about--container {
    grid-template-areas: "image data";
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .about__data, .about__title {
    text-align: initial;
  }
  .about__title {
    margin-bottom: 24px;
  }
  .about__subtitle {
    margin-bottom: 36px;
  }
  .skill--container {
    -moz-column-gap: 64px;
         column-gap: 64px;
    grid-template-columns: repeat(2, 1fr);
  }
  .app__container {
    -moz-column-gap: 0rem;
         column-gap: 0rem;
  }
  .video__title {
    margin-top: 64px;
  }
}
/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}


#project{
  padding-top: 70px;
  padding-bottom: 70px;
}
#project h2{
  text-align: center;
  color: #150734;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#project .card{
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#project .col-md-4{
  margin-bottom: 30px;
}
#project .card-img-top {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#contact{
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #150734;
  text-align: center;
}
#contact h1{
  color: orange;
}
#contact h4{
  color: #fff;
}
#contact a{
  color: #fff;
  text-decoration: none;
}
